---
import { GET } from "@/pages/api/githubActivity.json";
import GitHubDay from "./GitHubDay.astro";
import {
  days,
  dayNames,
  shortDayNames,
  monthNames,
  shortMonthNames,
} from "@/lib/constants/dates";

import { gitHubUser } from "@/lib/constants/gitHub";
import type { GitHubCalendar } from "@/lib/types/gitHub";
import GitHubActivityFooter from "./GitHubActivityFooter.astro";

const res = await GET(Astro);
const calendar = (await res.json()) as GitHubCalendar;
---

<article class="overflow-hidden">
  <header class="flex justify-between mb-4">
    <div class="flex gap-1">
      <h2>Actividad GitHub</h2>
      <a
        class="font-bold hover:scale-105 transition-transform"
        href="https://github.com/rendonnm">@{gitHubUser}</a
      >
    </div>

    <p class="text-sm">
      <span class="font-bold">{calendar["totalContributions"]}</span> contribuciones
      este año!
    </p>
  </header>
  <div class="flex overflow-x-auto mb-1">
    <table
      class="border-separate border-spacing-x-[3px] border-spacing-y-[3px] min-w-max"
    >
      <thead>
        <tr>
          <th></th>
          {
            monthNames.map((month, index) => {
              return (
                <th colspan="4">
                  <span class="sr-only">{month}</span>
                  <p class="text-xs text-start">{shortMonthNames[index]}</p>
                </th>
              );
            })
          }
        </tr>
      </thead>
      <tbody class="border-spacing-2.5">
        {
          days.map((day) => {
            const isEven = day % 2 === 0;
            return (
              <tr class="h-2.5">
                <th>
                  <span class="sr-only">{dayNames[day]}</span>
                  <p class="text-xs h-2.5">
                    {isEven ? "" : shortDayNames[day]}
                  </p>
                </th>
                {calendar.weeks.map((week) => {
                  const contributionDay = week.contributionDays[day];
                  if (contributionDay)
                    return (
                      <GitHubDay level={contributionDay.contributionLevel} />
                    );
                })}
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </div>
  <GitHubActivityFooter />
</article>
