---
import { GET } from "@/pages/api/githubActivity.json";
import GitHubDay from "./GitHubDay.astro";
import { days } from "@/lib/constants/dates";

import { gitHubUser } from "@/lib/constants/gitHub";
import type { GitHubCalendar } from "@/lib/types/gitHub";
import GitHubActivityFooter from "./GitHubActivityFooter.astro";
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import {
  getMonthsOfGitHubActivity,
  englishShortDayIntl,
  englishLongDayIntl,
} from "@/lib/utils/date";

const res = await GET(Astro);
const calendar = (await res.json()) as GitHubCalendar;

const monthNames = getMonthsOfGitHubActivity(calendar);
---

<article class="overflow-hidden">
  <header class="flex justify-between mb-4 flex-wrap gap-2">
    <div class="flex gap-1">
      <h3 class="font-semibold">
        <a
          class="flex items-center gap-2 cursor-pointer"
          href="https://github.com/rendonnm"
        >
          <GitHubIcon height="20" />
          Actividad GitHub
        </a>
      </h3>
    </div>

    <p class="text-sm">
      <span class="font-bold">{calendar["totalContributions"]}</span> contribuciones
      este año!
    </p>
  </header>
  <div class="flex overflow-x-auto mb-1">
    <table
      class="border-separate border-spacing-x-[3px] border-spacing-y-[3px] min-w-max"
    >
      <thead>
        <tr>
          <th></th>
          {
            monthNames.map(([month, weeks]) => {
              return (
                <th colspan={weeks}>
                  <span class="sr-only">{month}</span>
                  <p class="text-xs text-start">{month}</p>
                </th>
              );
            })
          }
        </tr>
      </thead>
      <tbody class="border-spacing-2.5">
        {
          days.map((day) => {
            const isEven = day % 2 === 0;
            const dummyDate = new Date(2026, 2, day + 1);
            const shortDayName = englishShortDayIntl.format(dummyDate);
            const longDayName = englishLongDayIntl.format(dummyDate);

            return (
              <tr class="h-2.5">
                <th>
                  <span class="sr-only">{longDayName}</span>
                  <p class="text-xs h-2.5">{isEven ? "" : shortDayName}</p>
                </th>
                {calendar.weeks.map((week) => {
                  const contributionDay = week.contributionDays[day];
                  if (contributionDay)
                    return (
                      <GitHubDay level={contributionDay.contributionLevel} />
                    );
                })}
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </div>
  <GitHubActivityFooter gitHubUser={gitHubUser} />
</article>
